 
.option_box .gear_check,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.dropdown-menu > li > a:hover, 
.dropdown-menu > li > a:focus,
.carousel-indicators .active   
{
    background:  #4b824d;
}

.dropdown-menu 
{
    border-top: 3px solid #4b824d;      
} 


.navbar-inverse .navbar-brand   span,
.testimonials h1 span
{
    color:   #4b824d;
}
 
 .option_box .color_option,
.testimonials .carousel-indicators li.active 
{
	border: 2px solid #4b824d;
}

 









