
/*# my work*/

.btn_sperator{ border-right: 1px solid #D4D5D6;padding-right: 10px}
/*page header*/

.top_page_header .login_area li
{
	float: right;
	margin-left: 10px ;

}

.top_page_header .social_list li{float: left;margin-right: 4px ;}

.page_header .logo-image {	float: right;}

.navbar-right .dropdown-menu{
	left:auto;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    right: 100%;
    margin-top: -5px;
    margin-right: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: left;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-right-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    right: -100%;
    margin-right: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


.sec_margin{margin-right: 0px}

.title_default h3{margin: 0 0 0 25px;}
 .title_default  .view_all {float: left}

 
/*  .sidebar .block_default .media{font-size: 13px;}*/

.footer .social_list li
{
  float: right;
  margin-left: 4px ;
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.testimonials .carousel-indicators {
    margin-right: auto;
    position: static;
    width: 100%;
}

.our-skills .progress-bar
{
	text-align: right;
}


.sub_category ul.cats li {padding-right:0;}
